---
version: '3'
services:
   package-maven:
      build:
         context: .
         dockerfile: Dockerfile
      ports:
        - 8080:8080
      volumes:
        - build-maven:/usr/local/tomcat/webapps
        
volumes:
  build-maven:
...